{% extends 'basic_app/base.html' %}

{% block body_block %}
   <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Please Login</h1>
      <p class="col-md-8 fs-4">Enter the Details below</p>
      <form action="{% url 'basic_app:user_login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name = "username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Submit">

      </form>
    </div>
     </div>
{% endblock %}