{% extends 'basic_app/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="jumbotron">
        {% if registered %}
            <h2>Thanks!</h2>
        {% else %}
            <h1>Register here</h1>
            <h2>Fill out the form!</h2>
            
            <form action="" method="post" enctype = 'multipart/form-data'>
                {% csrf_token %}
                {{user_form.as_p}}
                {{ profile_form.as_p }}
                <input type="submit" value="register">
            </form>
        {% endif %}
    </div>



{% endblock %}